// app global css in SCSS form
.brand-primary {
  background-color: white;
  color: $brand-red;
}

.brand-secondary {
  background-color: $brand-red;
  color: white;
}

.brand-accent {
  color: $brand-orange;
}
